<div class='row'>
  <div class='col-md-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>Editing Task: <%= raw @task.title %></h4>  <!-- Fix issue where edit view shows HTML as TEXT -->
      </div>

      <div class='panel-body'><h1></h1>

        <%= render 'form' %>

        <%= link_to 'Back', tasks_path %>
      </div>
    </div>
  </div>
</div>