// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Add Google Maps integration
body, html, .container {
	height: 100%;
}

#map-canvas {
	height: 90%;
	margin: 0px;
	padding: 0px
}