<!DOCTYPE html>
<html>
<head>
  <title>Task List Challenge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" if maps_controller? %>  <!-- Add Google Maps integration -->
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>
